
<div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1566410824233-a8011929225c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Image">
    
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <p class="card-text">{{todo.desc}}.</p>
      <div href="#" class="btn  btn-primary m-2">Read More</div>
      <div href="#" class="btn btn-danger m-2" (click)="onClickk(todo)">Del</div>
    </div>
  </div>
